# Vite environment variables
VITE_SENTRY_DSN=your_sentry_dsn
VITE_REHIVE_API_URL=https://api.rehive.com/3
VITE_APP_EXTENSION_API_URL=https://app.services.rehive.com/api
VITE_AMPLITUDE_API=your_amplitude_api